<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main-lobby.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lobby Page</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 side-menu">
                <p class="logo">Check in Service</p>
                <div class="users">
                    <p class="admin">Admin</p>
                    <div class="users_count">
                        <input type="text" class="input" placeholder="Search the paricipante">
                        <p class="users_number">3 attendees</p>
                    </div>
                    <ul>
                        <li>Slava Kulik</li>
                        <li>Arturka</li>
                        <li>Salamon</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 info-field">
                <p class="event_name">Event name</p>
                <div class="text_area">
                    <p class="inputted_text">Lecture theme: “Learning ....”
                                  Today we will consider the construction algorithm and in the end we will write a test.</p>
                </div>
                <a href="#" class="btn_exit">Exit event</a>
            </div>
        </div>

    </div>
</body>

</html>